
.titulo{
    margin-top: 5px;
    text-align: center;

    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    font-family : 'Roboto', sans-serif;

}
.texto{

    text-align: justify;
    text-align: center;

    font-size: 15px;
    color: #ffffff;
    font-family : 'Roboto', sans-serif;

    margin-top: 5px;
}

/* Background
-------------------------------------------------- */

body{
    font-family: 'calibri light', calibri, arial, sans-serif;
}
div.body-content{
    /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
    margin-bottom: 40px;
}









.bloco-form{
    margin-top: 90px;
    padding-bottom: 40px;
    background-color: whitesmoke;

    border-radius: 8px;
    box-shadow: 0px 0px 20px #666;
}

